{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- ABC Javascript -->
<script src="{% static 'tunes/js/abcjs-basic-min.js' %}" type="text/javascript"></script>
<!-- ABCJS Audio Style -->
<link rel="stylesheet" type="text/css" href="{% static 'tunes/css/abcjs-audio.css' %}">
<style>
    main {
        max-width: 770px;
        margin: 0 auto;
    }
    .feedback {
        height: 600px;
        font-family: Arial, "sans-serif";
    }
    .highlight {
        fill: #0a9ecc;
    }
    .abcjs-cursor {
        stroke: red;
    }
    .click-explanation {
        color: red;
        font-style: italic;
    }
    .beat {
        font-weight: bold;
    }
    .label {
        color: #888888;
}
    .midi {
        margin-top: 20px;
        margin-left: 5px;
    }
    .seek-controls {
        margin-top: 5px;
    }
    .seek-controls.disabled {
        background-color: #cccccc;
        opacity: 0.5;
    }
</style>

<h1>Combine Tune</h1>
<hr>

<!-- Form For Selecting Tunes -->
<form method="GET" action="{% url  'tunes:abc_combine' %}">
    {{ form.as_p }}
    <p><input type="submit" value="Generate Tune(s)"></p>
</form>

<!-- Display Generated ABC Notation -->
{% if abc %}
    <h2>Combined ABC</h2>
    <h3>Set:</h3>
    <ol>
    {% for tune_title in title %}
        <li>{{ tune_title }}</li>
    {% endfor %}
    </ol>
    <!-- divs for abc paper and audio -->
    <div id="paper"></div>
    <div id="audio"></div>
    <div class="midi">MIDI</div>

    <!-- Load Script to Update 
            id="paper"
            id="audio"
            class="midi"
    -->
    {% include "tunes/subtemplates/render_abc_audio_midi.html" with abc_text=abc %}
    <br>

    <h4>ABC notation</h4>
    <p style="white-space: pre-wrap;">{{ abc|safe }}</p>
    <br>
{% endif %}
{% endblock %}