{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- ABC Javascript -->
<script src="{% static 'tunes/js/abcjs-basic-min.js' %}" type="text/javascript"></script>
<!-- ABCJS Audio Style -->
<link rel="stylesheet" type="text/css" href="{% static 'tunes/css/abcjs-audio.css' %}">

<h1 style="display:inline;">{{ tune.name }} <h2 style="display:inline;">{{ tune.tune_type }}</h2></h1> 
<hr>
<h3>ABC Notation</h3>

{% if abc_list %}
    {% for abc in abc_list %}
        Key: {{ abc.key }}
        <!-- divs for abc paper and audio -->
        <div id="paper"></div>
        <div id="audio"></div>
        <!-- Scripts for making notes and audio -->
        <script type="text/javascript">
            // given that there are two elements in the DOM with the IDs "paper" and "audio"
            var cursorControl = {}; // see section on CursorControl
            var abc = `{{ abc.abc_full_default|safe }}`;
            var abcOptions = { add_classes: true };
            var audioParams = {
                chordsOff: true,
                program: 41,
                qpm: 110, //TODO Need to set default BPM somewhere in audio parameters
            };

            if (ABCJS.synth.supportsAudio()) {
                var synthControl = new ABCJS.synth.SynthController();
                synthControl.load("#audio", 
                    cursorControl, 
                    {
                        displayLoop: true, 
                        displayRestart: true, 
                        displayPlay: true, 
                        displayProgress: true, 
                        displayWarp: true
                    }
                );

                var visualObj = ABCJS.renderAbc("paper", 
                    abc, abcOptions);
                var createSynth = new ABCJS.synth.CreateSynth();
                createSynth.init({ 
                        visualObj: visualObj[0],
                    }
                ).then(function () {
                    synthControl.setTune(visualObj[0], false, audioParams).then(function () {
                        console.log("Audio successfully loaded.")
                    }).catch(function (error) {
                        console.warn("Audio problem:", error);
                    });
                }).catch(function (error) {
                    console.warn("Audio problem:", error);
                });
            } else {
                document.querySelector("#audio").innerHTML = 
                    "Audio is not supported in this browser.";
                }
        </script>
        <br>
        <h4>Plain ABC notation</h4>
        <p style="white-space: pre-wrap;">{{ abc.abc_full_default|safe }}</p>
        <br>
    {% endfor %}
{% else %}
    <p>No abc for tune.</p>
{% endif %}
{% endblock %}