<!-- Scripts for making notes, audio, adn midi -->
<!-- {{ abc_text|safe }} is what gets generated -->

<script type="text/javascript">
    // given that there are two elements in the DOM with the IDs "paper" and "audio"
    function CursorControl() {
        var self = this;

        self.onStart = function() {
            var svg = document.querySelector("#paper svg");
            var cursor = document.createElementNS("http://www.w3.org/2000/svg", "line");
            cursor.setAttribute("class", "abcjs-cursor");
            cursor.setAttributeNS(null, 'x1', 0);
            cursor.setAttributeNS(null, 'y1', 0);
            cursor.setAttributeNS(null, 'x2', 0);
            cursor.setAttributeNS(null, 'y2', 0);
            svg.appendChild(cursor);

        };
        self.beatSubdivisions = 2;
        self.onEvent = function(ev) {
            if (ev.measureStart && ev.left === null)
                return; // this was the second part of a tie across a measure line. Just ignore it.

            var lastSelection = document.querySelectorAll("#paper svg .highlight");
            for (var k = 0; k < lastSelection.length; k++)
                lastSelection[k].classList.remove("highlight");

            var cursor = document.querySelector("#paper svg .abcjs-cursor");
            if (cursor) {
                cursor.setAttribute("x1", ev.left - 2);
                cursor.setAttribute("x2", ev.left - 2);
                cursor.setAttribute("y1", ev.top);
                cursor.setAttribute("y2", ev.top + ev.height);
            }
        };
        self.onFinished = function() {
            var els = document.querySelectorAll("svg .highlight");
            for (var i = 0; i < els.length; i++ ) {
                els[i].classList.remove("highlight");
            }
            var cursor = document.querySelector("#paper svg .abcjs-cursor");
            if (cursor) {
                cursor.setAttribute("x1", 0);
                cursor.setAttribute("x2", 0);
                cursor.setAttribute("y1", 0);
                cursor.setAttribute("y2", 0);
            }
        };
    }
    
    var cursorControl = new CursorControl(); // see section on CursorControl
    // Variable abc controls the abc that is displayed
    var abc = `{{ abc_text|safe }}`;
    var abcOptions = { add_classes: true };
    var audioParams = {
        chordsOff: true,
        program: 41,
    };

    if (ABCJS.synth.supportsAudio()) {
        var synthControl = new ABCJS.synth.SynthController();
        synthControl.load("#audio", 
            cursorControl, 
            {
                displayLoop: true, 
                displayRestart: true, 
                displayPlay: true, 
                displayProgress: true, 
                displayWarp: true
            }
        );

        var visualObj = ABCJS.renderAbc("paper", 
            abc, abcOptions);
        var createSynth = new ABCJS.synth.CreateSynth();
        createSynth.init({ 
                visualObj: visualObj[0],
            }
        ).then(function () {
            synthControl.setTune(visualObj[0], false, audioParams).then(function () {
                console.log("Audio successfully loaded.")
            }).catch(function (error) {
                console.warn("Audio problem:", error);
            });
        }).catch(function (error) {
            console.warn("Audio problem:", error);
        });
    } else {
        document.querySelector("#audio").innerHTML = 
            "Audio is not supported in this browser.";
        }
    
    var midi = ABCJS.synth.getMidiFile(abc, { chordsOff: true});
    var midiButton = document.querySelector(".midi");
    midiButton.innerHTML = midi;
</script>
<br>