{% load static %}

<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>40SessionTunes</title>
    <meta name="description" content="40 Irish Tunes">
    <meta name="author" content="Clayton S. Cook">

    <meta property="og:title" content="Base Template">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:description" content="Base Template">
    <meta property="og:image" content="">

    <link rel="icon" href="">
    <link rel="icon" href="" type="image/svg+xml">
    <link rel="apple-touch-icon" href="">

    <link rel="stylesheet" href="">

</head>

<body>
    <!-- your content here... -->
    {% block content %}{% endblock %}
    <script src=""></script>
</body>
</html>