{% extends 'base.html' %}

{% block content %}
<h1>40 Session Tunes Home Page</h1>
<h2><a href="{% url  'tunes:list' %}">Tune List</a></h2>
<hr>

<h1>ABC Links</h1>
<h2><a href="https://abcnotation.com/wiki/abc:standard:v2.1" target="_blank">ABCNotation Standard</a></h2>
<h2><a href="https://www.abcjs.net/" target="_blank">How To</a></h2>
<h2><a href="https://abcnotation.com/examples" target="_blank">Examples</a></h2>
<h2><a href="https://configurator.abcjs.net/"> ABCJS Configurator</a></h2>
<h2><a href="https://www.abcjs.net/abcjs-editor.html" target="_blank">Online ABC notation Editor</a></h2>
<h2><a href="https://cdn.jsdelivr.net/gh/paulrosen/abcjs@master/examples/printable.html">Print ABC</a></h2>
<hr>

<h1>ABC Midi Player</h1>
<h2><a href="{% url 'midiexample_1' %}">Midi Example 1</a></h2>
<h2><a href="{% url 'midiexample_2' %}">Midi Example 2</a></h2>
<hr>

<h1>Admin Stuff</h1>
<h2><a href="{% url 'admin:index' %}" target="_blank">Admin Panel</a></h2>
{% endblock %}